name: rattle
description: Rattle Data Science Next Generation
publish_to: 'none'
version: 0.1.20+47

environment:
  sdk: ">=3.0.5 <4.0.0"

# Automatically upgrade package dependencies to the latest versions:
#
# `flutter pub upgrade --major-versions`.
#
# To see which dependencies have newer versions available:
#
# `flutter pub outdated`

dependencies:

  flutter:
    sdk: flutter

  file_picker: ^8.0.3
  flutter_gen: ^5.3.1
  flutter_markdown: ^0.7.1
  flutter_pty: ^0.4.0
  flutter_riverpod: ^2.4.4
  flutter_svg: ^2.0.7
  intl: ^0.19.0
  package_info_plus: ^8.0.0
  path: ^1.8.0
  provider: ^6.0.5
  riverpod_annotation: ^2.2.1
  universal_io: ^2.2.2
  window_manager: ^0.3.5
  # TODO 20240604 gjw EXPLAIN WHY USING git HERE
  # xterm: ^3.5.0
  xterm:
    git:
      url: https://github.com/Multi-Tech-s-r-l/xterm.dart
      ref: master
  
dev_dependencies:

  flutter_test:
    sdk: flutter

  integration_test:
    sdk: flutter

  build_runner: ^2.4.6
  custom_lint: ^0.6.4

  # The original `dart-code-metrics` is end of live and has migrated to
  # a paid service. This fork maintains it's compatibility with the
  # latest flutter.

  dart_code_metrics:
    git:
      url: https://github.com/Zheyuan-Robert-Xu/dart-code-metrics.git
      ref: master

  # The `flutter_lints` package contains a set of recommended lints to
  # encourage good coding practices. The lint set provided by the
  # package is activated in the `analysis_options.yaml` file located
  # at the root of your package. See that file for information about
  # deactivating specific lint rules and activating additional ones.

  flutter_lints: ^4.0.0

  msix: ^3.16.2

  riverpod_generator: ^2.3.5

  # TODO 20240604 gjw FOR NOW REMOVE riverpod_lint AS IT HAS
  # DEPENDENCY CONFLICTS WITH dart_code_metrics.

  # riverpod_lint: ^2.3.2

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.

flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.

  uses-material-design: true

  # Note the full image path is required for the resource: image use
  # in flutter_markdown.

  assets:
    - assets/images/favicon_small.png
    - assets/images/rattle_logo.png
    - assets/markdown/
    - assets/r/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700

  # Use a fixed width Ubuntu font for the Log tab.
  fonts:
    - family: UbuntuMono
      fonts:
        - asset: assets/fonts/UbuntuMono-R.ttf
      # Google font family https://fonts.google.com/
    - family: RobotoMono
      fonts:
        - asset: assets/fonts/RobotoMono-Regular.ttf
    - family: OpenSans
      fonts:
        - asset: assets/fonts/OpenSans-Regular.ttf
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages

# Settings for creating .msix file, that can be installed in a windows
# machine This can be customized, see
# https://pub.dev/packages/msix/example for reference

msix_config:
  display_name: rattle
  msix_version: 1.0.0.0
  certificate_path: CERTIFICATE.pfx
  certificate_password: rattle1234
  execution_alias: rattle
