#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Rattle
Exec=.local/bin/rattle
Icon=/home/user/.local/share/icons/hicolor/256x256/apps/rattle.png
