[Desktop Entry]
Version=6.3.6
Name=rattle
GenericName=rattle
Comment=Rattle Data Science Next Generation
Terminal=false
Type=Application
Categories=Utility;
Keywords=Flutter;
Icon=rattle
